Connected Services/ServiceReference1/service.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:wsap="http://schemas.xmlsoap.org/ws/2004/08/addressing/policy" xmlns:wsa10="http://www.w3.org/2005/08/addressing" xmlns:tns="http://tempuri.org/" xmlns:msc="http://schemas.microsoft.com/ws/2005/12/wsdl/contract" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:wsp="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:wsa="http://schemas.xmlsoap.org/ws/2004/08/addressing" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" xmlns:wsaw="http://www.w3.org/2006/05/addressing/wsdl" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:xsd="http://www.w3.org/2001/XMLSchema" name="Service1" targetNamespace="http://tempuri.org/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:types>
    <xsd:schema targetNamespace="http://tempuri.org/Imports">
      <xsd:import namespace="http://tempuri.org/" />
      <xsd:import namespace="http://schemas.microsoft.com/2003/10/Serialization/" />
      <xsd:import namespace="http://schemas.datacontract.org/2004/07/ServiceSembako" />
    </xsd:schema>
  </wsdl:types>
  <wsdl:message name="IService1_order_InputMessage">
    <wsdl:part name="parameters" element="tns:order" />
  </wsdl:message>
  <wsdl:message name="IService1_order_OutputMessage">
    <wsdl:part name="parameters" element="tns:orderResponse" />
  </wsdl:message>
  <wsdl:message name="IService1_product_InputMessage">
    <wsdl:part name="parameters" element="tns:product" />
  </wsdl:message>
  <wsdl:message name="IService1_product_OutputMessage">
    <wsdl:part name="parameters" element="tns:productResponse" />
  </wsdl:message>
  <wsdl:message name="IService1_Orders_InputMessage">
    <wsdl:part name="parameters" element="tns:Orders" />
  </wsdl:message>
  <wsdl:message name="IService1_Orders_OutputMessage">
    <wsdl:part name="parameters" element="tns:OrdersResponse" />
  </wsdl:message>
  <wsdl:message name="IService1_Products_InputMessage">
    <wsdl:part name="parameters" element="tns:Products" />
  </wsdl:message>
  <wsdl:message name="IService1_Products_OutputMessage">
    <wsdl:part name="parameters" element="tns:ProductsResponse" />
  </wsdl:message>
  <wsdl:portType name="IService1">
    <wsdl:operation name="order">
      <wsdl:input wsaw:Action="http://tempuri.org/IService1/order" message="tns:IService1_order_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IService1/orderResponse" message="tns:IService1_order_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="product">
      <wsdl:input wsaw:Action="http://tempuri.org/IService1/product" message="tns:IService1_product_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IService1/productResponse" message="tns:IService1_product_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="Orders">
      <wsdl:input wsaw:Action="http://tempuri.org/IService1/Orders" message="tns:IService1_Orders_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IService1/OrdersResponse" message="tns:IService1_Orders_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="Products">
      <wsdl:input wsaw:Action="http://tempuri.org/IService1/Products" message="tns:IService1_Products_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IService1/ProductsResponse" message="tns:IService1_Products_OutputMessage" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="EndpointService" type="tns:IService1">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="order">
      <soap:operation soapAction="http://tempuri.org/IService1/order" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="product">
      <soap:operation soapAction="http://tempuri.org/IService1/product" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="Orders">
      <soap:operation soapAction="http://tempuri.org/IService1/Orders" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="Products">
      <soap:operation soapAction="http://tempuri.org/IService1/Products" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="Service1">
    <wsdl:port name="EndpointService" binding="tns:EndpointService">
      <soap:address location="http://localhost:1907/" />
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>