Connected Services/ServiceReference1/ServiceSembako.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://schemas.datacontract.org/2004/07/ServiceSembako" elementFormDefault="qualified" targetNamespace="http://schemas.datacontract.org/2004/07/ServiceSembako" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:complexType name="ArrayOfOrder">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="Order" nillable="true" type="tns:Order" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfOrder" nillable="true" type="tns:ArrayOfOrder" />
  <xs:complexType name="Order">
    <xs:sequence>
      <xs:element minOccurs="0" name="IdOrder" type="xs:int" />
      <xs:element minOccurs="0" name="alamat" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="jmlPesanan" type="xs:int" />
      <xs:element minOccurs="0" name="namaPembeli" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="namaProduct" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="totalHarga" type="xs:int" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="Order" nillable="true" type="tns:Order" />
  <xs:complexType name="ArrayOfProduct">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="Product" nillable="true" type="tns:Product" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfProduct" nillable="true" type="tns:ArrayOfProduct" />
  <xs:complexType name="Product">
    <xs:sequence>
      <xs:element minOccurs="0" name="IdProduct" type="xs:int" />
      <xs:element minOccurs="0" name="deskripsi" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="harga" type="xs:int" />
      <xs:element minOccurs="0" name="namaProduct" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="stok" type="xs:int" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="Product" nillable="true" type="tns:Product" />
</xs:schema>